/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- GLOBALS -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */

body {
  font-family: "TS-Reg", sans-serif;
}

.container {
  max-width: 1135px;
  margin: 0 auto;
}

h1 {
  font-size: 54px;
  font-family: "TS-Med", sans-serif;
  color: #ff5d5d;
  font-weight: bold;
  margin-bottom: 10px;
}
h1 > span {
  color: black;
}

h2 {
  font-size: 28px;
  font-family: "TS-Med", sans-serif;
  font-weight: bold;
  margin-bottom: 40px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
  margin: 10px 0;
}

section {
  margin-bottom: 40px;
}

.red {
  color: red;
}

.black {
  color: black;
}
.container .hidden {
  display: none;
}

/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- HEADER -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */

header {
  padding: 10px 0;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
}
header img {
  width: 190px;
}
header .container {
  display: flex;
  justify-content: space-between;
}

header nav {
  display: flex;
  gap: 20px;
}

header nav > div {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 5px;
  border-radius: 30px;
}

header nav > div:hover {
  background-color: lightgray;
}

header nav > button {
  background-color: black;
  color: white;
  border-radius: 30px;
  padding: 10px;
  font-family: TS-Reg, sans-serif;
  border: none;
}

/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- HERO -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */

.baseline {
  font-size: 14px;
  color: #333333;
  margin-bottom: 40px;
}
.baseline span {
  text-decoration: underline;
}

menu {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
menu > div {
  border: 1px solid black;
  flex: 1;
  padding: 12px 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- IMAGES -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */
.images {
  display: flex;
  height: 430px;
  gap: 2px;
}
.images > img {
  flex: 4;
  height: 100%;
  object-fit: cover;
}
.images > div {
  flex: 3;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 2px;
}
.images > div > img {
  height: calc(50% - 1px);
  object-fit: cover;
}

div {
  cursor: grab;
}

/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- CARROUSEL -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */
.unmissable {
  display: flex;
  gap: 20px;
}
.unmissable > aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  padding-right: 20px;
}

.unmissable > aside a {
  color: #545454;
  font-size: 16px;
}

.carrousel {
  flex: 3;
  display: flex;
  gap: 15px;
  overflow: scroll;
}
.carrousel article {
  flex-shrink: 0;
  width: calc((100% - 30px) / 3);
}

.carroussel-image-container {
  height: 200px;
  position: relative;
}
.carroussel-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.carrousel::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.carrousel {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.heart {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 10px;
  font-size: 20px;
}

article > span {
  font-size: 12px;
  color: #333333;
}

.rating {
  color: #03aa6d;
  margin-right: 20px;
}

article > p {
  font-size: 14px;
  line-height: 16.8px;
  color: #333333;
  margin: 10px 0;
}

.badge {
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #34e0a1;
  border-radius: 15px 15px 5px 5px;
  padding-bottom: 5px;
  position: absolute;
  bottom: 5px;
  left: 10px;
}
.badge > img {
  width: 25px;
}
.badge > p {
  font-size: 10px;
}

/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- RESPONSIVE -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */

@media (max-width: 1184px) {
  .container {
    padding: 0 20px;
  }
  menu {
    flex-wrap: wrap;
  }

  menu > div {
    flex: 0 0 calc(25% - (30px / 4));
    /* width: 25%; */
  }

  menu .hidden {
    display: flex;
  }
  .images {
    height: 370px;
  }
  .images > img {
    flex: 5;
  }
}

@media (max-width: 1024px) {
  header .visibility {
    display: none;
  }
  .images {
    height: 275px;
  }
  .images > img {
    flex: 1;
  }
  .images > div {
    flex: 0;
    width: 33.33%;
  }
  .carrousel article {
    width: calc((100% - 30px) / 2.5);
  }
  .carroussel-image-container {
    height: 240px;
  }
}

@media (max-width: 768px) {
  .container nav .hidden {
    display: block;
  }
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header nav > div:not(:last-child) {
    display: none;
  }
  nav > button {
    display: none;
  }
  header .container nav {
    align-items: center;
    gap: 5px;
  }
  header .container .hidden {
    display: inline;
  }
  header img {
    width: 132px;
  }
  menu {
    flex-wrap: nowrap;
    overflow: scroll;
  }
  .images > div {
    display: none;
  }
  .unmissable {
    flex-direction: column;
  }
  .carrousel article {
    width: calc(100%);
  }
  .carroussel-image-container {
    height: 400px;
  }
}
